<!DOCTYPE html>
<html>
  <head>
    <title>Subscribe</title>
  </head>
  <body>
    <h1><%= heading %></h1>
    <form method="POST" action="/subscribe">
      <input type:'email' id="email" name="email" placeholder="Enter your Email" >
      <button type='submit'>Subscribe</button>
    </form>
  </body>
</html>